<!-- travel_form.html -->
{% extends "base.html" %}

{% block css %}
  <style>
    p {
      color: #000;
    }
    label.required:after {
      content: "*";
      color: red;
    }
  </style>
{% endblock css %}

{% block content %}
  <h1>Formulário</h1>
  <div class="cols-6">
    <form class="form-horizontal" action="." method="POST">
      <div class="col-sm-6">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}

{% block js %}
  <!-- https://github.com/igorescobar/jQuery-Mask-Plugin -->
  <!-- https://igorescobar.github.io/jQuery-Mask-Plugin/docs.html -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

  <script>
    $('#id_duration_travel').mask('00:00:00');
  </script>

{% endblock js %}
