.menu {
    color: yellow;
}

.bottom-4 {
    bottom: 1rem;
}

.right-8 {
    right: 2rem;
}

.ml-2 {
    margin-left: .5rem;
}

.ml-9 {
    margin-left: 2.25rem;
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}