{% extends "base.html" %}
{% load usergroup_tags %}
{% load model_name_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <h1>Lista de {% model_name_plural model %}</h1>
    </div>
    <div class="col-md-8">
      <form class="form-inline my-2 my-lg-0 pull-right">
        <label>Data Inicial</label>
        <input class="form-control ml-sm-2 mr-sm-2" name="start_date" type="date"/>
        <label>Data Final</label>
        <input class="form-control ml-sm-2 mr-sm-2" name="end_date" type="date"/>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">OK</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Título</th>
            <th>Título</th>
            <th>Sub-título</th>
            <th>Data de publicação</th>
            <th>Categoria</th>
            <th>Grupo</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ obj.title|slugify }}</td>
              <td>{{ obj.title|truncatechars:13 }}</td>
              <td>{{ obj.subtitle|safe|default:"---" }}</td>
              <td>{{ obj.published_date|date:"d/m/Y" }}</td>
              {% if obj.category.title == 'Django' %}
                <td>{{ obj.category }}</td>
              {% else %}
                <td>{{ obj.category|default:"---" }}</td>
              {% endif %}
              <td>
                {% if obj.user|has_group:"Autor" %}
                  {{ obj.user|name_group }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}